
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
.n{
    background-color: black;
}
a{
text-decoration: none  !important;
}
html{
    font-size:62.5%;
}

.main-nav{
 color: white;
 width: 100%;
 height: 10rem;
 display: grid;
 grid-template-columns:5rem 1fr 0.1fr 1fr 5rem ;
}
.logo{
    grid-column: 2/3;

}
.img{
    width: 100%;
    height: 10%;
}
.menu-link{
    grid-column: 4/5;
    text-decoration: none;   
    color: #57EE9E; 
}
.menu-link ul{
 list-style: none;
 display: flex;
 height: 100%;
 width: 100%;
 justify-content: space-around;
 align-items: center;

}
.menu-link ul li{
    font-size: 1.8rem;
    font-weight: 800;
}
.menu-link ul li a{
    text-transform: capitalize;
    color: #57EE9E;
}
.menu-link ul li :hover{
    color: rgb(255, 255, 255);
    transition:  0.5s ease-in-out;

}

.hamburger-menu{
    display: none;
}
.hamburger-menu a{
    color: rgb(255, 255, 255);
}
@media (max-width: 912px) {
    .hamburger-menu{
        display: block;
        font-size: 4.5rem;
        color: aliceblue;

    }
    .menu-link li{
        display: none;
    }
    .main-nav .logo img{ 
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 230px) {
    .hamburger-menu{
        display: block;
        font-size: 4.5rem;
    }
    .menu-link li{
        display: none;
    }
    .logo { 
        display: none;
    }
}